.profile__avatar-button {
    background-color: transparent;
    position: absolute;
    width: 130px;
    height: 130px;
    top: 35px;
    left: -5px;
    border-radius: 50%;
    transition: background-color 0.4s ease-out;
}

.profile__avatar-button:hover {
    cursor: pointer;
    background-image: url(../../../images/avatar-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .6);
}