.edit-form__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 64px 25px 36px;
}

@media screen and (min-width:320px) and (max-width:580px) {
    .edit-form__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px 22px 37px 22px;
    }
    @-moz-document url-prefix() {
        .edit-form__title {
            margin: 25px 22px 25px 22px;
        }
      }
}