.header__open{

}

.header__open {
    max-width: 880px;
    min-height: 85px;
    display: flex;
    margin: auto;
    border-bottom: solid 1px rgba(84, 84, 84, .7);
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:880px) and (max-width:920px) {
    .header__open {
        max-width: 770px;
        border-bottom: solid 1px rgba(84, 84, 84, .7);
    }
}

@media screen and (min-width:581px) and (max-width:879px) {
    .header__open {
        max-width: 580px;
        min-width: 320px;
        min-height: 84px;
        border-bottom: solid 1px rgba(84, 84, 84, .7);
    }
}

@media screen and (min-width:320px) and (max-width:580px) {
    .header__open {
        flex-direction: column-reverse;
        align-items: center;
        border-bottom:none;
    }
}