.signin__button{
    width: 358px;
    min-height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-self: center;
    margin-top: 163px;
    border-radius: 2px;
    border: none;
    transition: opacity 0.4s ease-out;
}

.signin__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:580px) {
    .signin__button {
        width: 260px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 144px;
    }
}