.profile__add-photo-button {
    width: 150px;
    height: 50px;
    align-self: center;
    background-color: black;
    border: 1px solid white;
    background-image: url(../../../images/add-photo-button.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    transition: opacity 0.4s ease-out;
}

.profile__add-photo-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (min-width:581px) and (max-width:879px) {
    .profile__add-photo-button {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:580px) {
    .profile__add-photo-button {
        width: 282px;
        margin-bottom: 16px;
        background-size: 16px;
    }
}