.footer {
    max-width: 880px;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: auto;
}

@media screen and (min-width:581px) and (max-width:879px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (min-width:320px) and (max-width:580px) {
    .footer {
        max-width: 282px;
        padding-top: 18px;
        padding-bottom: 36px;
    }
}