.tooltip__wrapper{
    width: 430px;
    background-color: white;
    border-radius: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
}

@media screen and (min-width:320px) and (max-width:580px) {
    .tooltip__wrapper {
        width: 280px;
        min-height: 308px;
    }
}