.edit-form__field {
    width: 358px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
}

@media screen and (min-width:320px) and (max-width:580px) {
    .edit-form__field {
        width: 238px;
    }
}

